<div class="parent-container">
    <div class="row">
      <div class="column">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Puntero Maestro</mat-card-title>
              <mat-card-subtitle>Desplace el cuadro rojo en la direccion que desee</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-master-pointer></app-master-pointer>
            </mat-card-content>
          </mat-card>
      </div>
      <div class="column">
        <mat-card>
            <!-- <mat-card-header>
              <mat-card-title>Información Cinemática</mat-card-title>
              <mat-card-subtitle>Coordenadas</mat-card-subtitle>
            </mat-card-header> -->
            <mat-card-content>
              <app-basic-chart-line></app-basic-chart-line>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Hola</mat-card-title>
              <mat-card-subtitle>Mundo</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
      </div>
      <div class="column">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Hola</mat-card-title>
              <mat-card-subtitle>Mundo</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div>