.parent-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: lightgray; */
  }
  
  .row {
    display: flex;
    flex-basis: 100%;
  }
  
  .column {
    flex: 1;
    margin: 10px;
  }