<div *ngIf="actualCoords$ | async as actualCoords; else loading">
    <div class="button-container">
        <button class="button-control" mat-raised-button color="primary" (click)="resetChart()">Reset</button>
        <button class="button-control"mat-raised-button color="warn" (click)="toggleTimeWindows()">{{!timeWindow?"Use Time Window":"Don't use Time Window"}}</button>
    </div>
    <p-chart type="line" (onDataSelect)="selectedData($event)" [data]="data" [options]="options"></p-chart>
</div>

<ng-template #loading>
    <div>
        <h1>No se ha desplazado el recuadro</h1>
    </div>
</ng-template>